<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BallListe</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div style="display: flex; justify-content: space-between;">
        <div class="jumbotron" style="display: flex; flex-direction: column; justify-content: space-between; flex: 1;background-color: {flag1.farbe};">
            <h2>{ball.name}</h2>
            <h3>{ball.average}</h3>
        </div>
        <div class="jumbotron" style="display: flex; flex-direction: column; justify-content: space-between; flex: 1;background-color: {flag1.farbe};">
            <h2>{ball.name}</h2>
            <h3>{ball.average}</h3>
        </div>
        <div class="jumbotron" style="display: flex; flex-direction: column; justify-content: space-between; flex: 1;background-color: {flag1.farbe};">
            <h2>{ball.name}</h2>
            <h3>{ball.average}</h3>
        </div>
    </div>
</div>
</body>
</html>